@import 'normalize';
@import 'defaults';

// fonts
@font-face {
   font-family: 'GT-Walsheim';
      src: url('/fonts/GT-Walsheim-Medium.eot');
      src: url('/fonts/GT-Walsheim-Medium.eot?#iefix') format('embedded-opentype'),
           url('/fonts/GT-Walsheim-Medium.woff') format('woff'),
           url('/fonts/GT-Walsheim-Medium.ttf') format('truetype');
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: 'GT-Walsheim';
      src: url('/fonts/GT-Walsheim-Medium-Oblique.eot');
      src: url('/fonts/GT-Walsheim-Medium-Oblique.eot?#iefix') format('embedded-opentype'),
           url('/fonts/GT-Walsheim-Medium-Oblique.woff ') format('woff'),
           url('/fonts/GT-Walsheim-Medium-Oblique.ttf') format('truetype');
   font-weight: 400;
   font-style: italic;
}

// vars
$padding: 2rem;

// breakpoints
$mobile: 799px;
$desktop: 800px;

html{
	font-size: 10px;
	font-family: 'GT-Walsheim';
}

html.night-shift{
	background-color: #000;
	color: #fff;

	svg{
		fill: #fff;
		width: 100%;
	}
}

html.day-shift{
	background-color: #fff;
	color: #000;
}

body{
	font-size: 1.6rem;
	min-height: 0;
	min-width: 0;
}

.landing{
	position: fixed;
	top: 0; left: 0; right: 0; bottom: 0;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;

	svg{
		max-width: 50vw;
	}
}

nav{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-around;
	padding: $padding;

	a{
		display: inline-block;
        border-bottom: 1.5px solid #000000;
        
        &:hover{
        border-bottom: #ffffff 1.5px solid;
    }
	}
}

#hourglass{
    width: 20vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;

    
    svg{
        width: 50%;
        vertical-align: middle;        
    }
}

#clock{
    width: 20vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-around;

    
    svg{
        width: 50%;
        vertical-align: middle;        
    }
}

#moons{
    width: 40vw;
    position: absolute;
    top: 0;
    height: 10vh;
    margin-left: 30vw;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    
    svg{
        padding: 1px;
        flex-basis: 1;
        height: 15px;
        align-content: center;
        align-items: center;
    }
}

.bg{
	position: fixed;
	width: 90vw;
	height: 80vh;
	z-index: -1;
	top: 10vh; left: 5vw; right: 5vw; bottom: 10vh;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;

  @media only screen and (max-width: $mobile){
    display: none !important;
  }

	.slick-list,
	.slick-track{
		height: 100%;
	}

	img{
		height: 100%;
		width: 100%;
		object-fit: scale-down;
		object-position: center center;
	}
}